<div class="home-bio" id="list-page">
  <p>Welcome to the online Data Management Training.</p>
  
  <p>This training will consist of five courses –</p>
  <ol>
    <li><a href="/course/intro-to-excel/">Introduction to Excel</a></li>
    <li><a href="/course/advanced-excel/">Advanced Excel</a></li>
    <li><a href="/course/data-visualisation/">Data Visualisation (short course)</a></li>
    <li><a href="/course/google-forms/">Data Collection with Google Forms</a></li>
    <li><a href="/course/google-sheets/">Data Analysis with Google Sheets</a></li>
  </ol>
  <p>
    This is a self-paced training and you can take the courses in any order you like. You can take the courses at your own pace and in multiple sittings. You can also take the courses multiple times if you like.
  </p>
  <p>
    This training is designed for people who have little or no experience with data management. It is also designed for people who have some experience with data management but would like to learn more about the powerful tools that are available to them.
  </p>
</div>