<nav class="navigation">
	{{ if not .IsHome }}
		<a href="{{ "/" | relURL }}"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	<a href="{{ "/excel-reference" | relURL }}">{{ i18n "excelReference" }}</a>
	<div class="dropdown">
		<button class="dropbtn">{{ i18n "courses" }}</button>
		<div class="dropdown-content">
			<a href="{{ "/course/intro-to-excel" | relURL }}">{{ i18n "introToExcel" }}</a>
			<a href="{{ "/course/advanced-excel" | relURL }}">{{ i18n "advancedExcel" }}</a>
			<a href="{{ "/course/data-visualisation" | relURL }}">{{ i18n "dataVisualisation" }}</a>
			<a href="{{ "/course/google-forms" | relURL }}">{{ i18n "googleForms" }}</a>
			<a href="{{ "/course/google-sheets" | relURL }}">{{ i18n "googleSheets" }}</a>
		</div>
	</div>
</nav>